flow.json
[{"id":"19ea7c6c.160674","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"996323af.10c0f8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"c11f445d.08f15","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"ddbce194.48ccf","type":"switch","z":"19ea7c6c.160674","name":"","property":"$globalContext('blockme')","propertyType":"jsonata","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":162,"wires":[["b843c9df.e8529"],["3933289c.be70b"]],"outputLabels":["blockme = false so let msg through","blockme = true so divert msg"]},{"id":"de2909f7.52894","type":"inject","z":"19ea7c6c.160674","name":"","topic":"","payload":"I'm free!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":162,"wires":[["d456a24c.36df"]]},{"id":"b843c9df.e8529","type":"debug","z":"19ea7c6c.160674","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":680,"y":162,"wires":[]},{"id":"d456a24c.36df","type":"change","z":"19ea7c6c.160674","name":"","rules":[{"t":"set","p":"blockme","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":162,"wires":[["ddbce194.48ccf"]]},{"id":"c684bb8.5386dc8","type":"inject","z":"19ea7c6c.160674","name":"","topic":"","payload":"I'm Blocked!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":202,"wires":[["5ffa824b.96cd64"]]},{"id":"5ffa824b.96cd64","type":"change","z":"19ea7c6c.160674","name":"","rules":[{"t":"set","p":"blockme","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":202,"wires":[["ddbce194.48ccf"]]},{"id":"3933289c.be70b","type":"debug","z":"19ea7c6c.160674","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":680,"y":262,"wires":[]},{"id":"510c48a0.5b293","type":"inject","z":"996323af.10c0f8","name":"Save controller configuration for Wiser","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":200,"y":80,"wires":[["8a57a30b.80793"]]},{"id":"8a57a30b.80793","type":"change","z":"996323af.10c0f8","name":"Set Wiser Variables (Secret and Host)","rules":[{"t":"set","p":"wiserSecret","pt":"flow","to":"<Change_this_to_your_systems_secret_string>","tot":"str"},{"t":"set","p":"wiserHost","pt":"flow","to":"<your_controllers_ip_address>","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":80,"wires":[[]]},{"id":"34e758f6.ab708","type":"inject","z":"996323af.10c0f8","name":"","topic":"Wiser QUERY","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":140,"wires":[["125e114e.9d17df"]]},{"id":"300d7f93.de8fd8","type":"http request","z":"996323af.10c0f8","name":"","method":"use","ret":"obj","url":"","tls":"","x":570,"y":220,"wires":[["7fbf5a11.6c7224"]]},{"id":"7fbf5a11.6c7224","type":"debug","z":"996323af.10c0f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":570,"y":300,"wires":[]},{"id":"8a234125.4ba8a","type":"change","z":"996323af.10c0f8","name":"","rules":[{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"\"http://\" & $flowContext('wiserHost') & $.path","tot":"jsonata"},{"t":"set","p":"headers","pt":"msg","to":"{\t    \"SECRET\": $flowContext('wiserSecret'),\t    \"HOST\": $flowContext('wiserHost') & \":80\"\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":140,"wires":[["300d7f93.de8fd8"]]},{"id":"125e114e.9d17df","type":"change","z":"996323af.10c0f8","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"/data/domain/","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":140,"wires":[["8a234125.4ba8a"]]},{"id":"1787c786.5e1bb8","type":"inject","z":"996323af.10c0f8","name":"","topic":"Wiser QUERY Room","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":200,"wires":[["5e789790.9796b"]]},{"id":"5e789790.9796b","type":"change","z":"996323af.10c0f8","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"/data/domain/Room/6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":200,"wires":[["8a234125.4ba8a"]]}]